body {
  font-family: "Work Sans", sans-serif;
}

:root {
  background-color: #0f172a;
  color: #e5e7eb;
  font-family: "Work Sans", sans-serif;
}

@font-face {
  font-family: "Work Sans";
  src: url('/WorkSans-Regular.ttf') format("truetype");
  font-weight: 200;
  font-style: normal;
}